<mat-card class="card-container">
  <form class="example-form" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Ime" [formControl]="firstNameFormControl" [errorStateMatcher]="matcher"
             [(ngModel)]="model.firstName" >
      <mat-hint>Vaše ime.</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Ime je <strong>obavezno</strong>.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Prezime" [formControl]="lastNameFormControl" [errorStateMatcher]="matcher"
             [(ngModel)]="model.lastName" >
      <mat-hint>Vaše prezime.</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Prezime je <strong>obavezno</strong>.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Imejl adresa" [formControl]="emailFormControl" [errorStateMatcher]="matcher"
             [(ngModel)]="model.email" >
      <mat-hint>Imejl adresa koju ćete koristiti za pristup.</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Molimo unestie validnu imejl adresu.
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Imejl adresa je <strong>obavezna</strong>.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Lozinka" [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
             [(ngModel)]="model.password" type="password">
      <mat-hint>Lozinka koju ćete koristiti za pristup.</mat-hint>
      <mat-error *ngIf="passwordFormControl.hasError('minlength')">
        Sifra mora da sadrzi najmanje 8 karaktera.
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="submit-button" [disabled]="loading">Registruj se</button>
    <button mat-button [disabled]="loading" [routerLink]="['/login']">Već imate nalog?</button>
    <div style="margin-top: 16px">
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
      <img src="https://scontent.fbeg4-1.fna.fbcdn.net/v/t39.2365-6/17639236_1785253958471956_282550797298827264_n.png?oh=e633755bfd5e3641d245d159ea1cdd69&oe=5AB18CEA" style="margin-top: 8px; height: 32px; width: 200px;">
    </div>
  </form>
</mat-card>
