<div class="table-container mat-elevation-z8">
  <div class="table-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraži">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="flag">
      <mat-header-cell *matHeaderCellDef class="column-flag"> Zastava </mat-header-cell>
      <mat-cell *matCellDef="let element" class="column-flag">
        <img class="table-flag" src="{{apiUrl}}{{element.flagUrl}}">
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="serbianName">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="column-normal"> Ime </mat-header-cell>
      <mat-cell *matCellDef="let element" class="column-normal">
        <button mat-button class="table-button-cell">{{element.serbianName}}</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="officialName">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="column-large"r> Oficijalno ime </mat-header-cell>
      <mat-cell *matCellDef="let element" class="column-large">
        {{element.officialName}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="capital">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="column-normal"> Glavni grad </mat-header-cell>
      <mat-cell *matCellDef="let element" class="column-normal">
        <div *ngIf="element.capital"> {{element.capital.name}} </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="diallingCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="column-small"> Pozivni broj </mat-header-cell>
      <mat-cell *matCellDef="let element" class="column-small">
        {{element.diallingCode}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="domain">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="column-very-small"> Domen </mat-header-cell>
      <mat-cell *matCellDef="let element" class="column-very-small">
        {{element.domain}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="languages">
      <mat-header-cell *matHeaderCellDef class="column-normal"> Jezici </mat-header-cell>
      <mat-cell *matCellDef="let element" class="column-normal">
        <div *ngIf="element.languages"> <div *ngFor="let language of element.languages" class="table-list"> {{language.name}}; </div> </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="visitorCount">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="column-small"> Poseta </mat-header-cell>
      <mat-cell *matCellDef="let element" class="column-small">
        {{element.visitorCount}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="wishListCount">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="column-small"> Želja </mat-header-cell>
      <mat-cell *matCellDef="let element" class="column-small">
        {{element.wishListCount}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="recommendationCount">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="column-small"> Zanimljivosti </mat-header-cell>
      <mat-cell *matCellDef="let element" class="column-small">
        {{element.recommendationCount}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewCountry(row)"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10"></mat-paginator>
</div>
