<div class="table-container mat-elevation-z8">
  <div class="table-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraži">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="flag">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Zastava </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img src="{{apiUrl}}{{element.flagUrl}}" height="32px" width="54px">
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="serbianName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ime </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.serbianName}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="officialName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Oficijalno ime </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.officialName}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="capital">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Glavni grad </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div *ngIf="element.capital"> {{element.capital.name}} </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="diallingCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Pozivni broj </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.diallingCode}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="domain">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Domen </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.domain}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="languages">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Jezici </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div *ngIf="element.languages"> <div *ngFor="let language of element.languages" class="table-list"> {{language.name}}; </div> </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewCountry(row)"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="50"></mat-paginator>
</div>
