<app-overlay>
  <div class="overlay">
    <h4>Loading...</h4>
    <img src="/assets/spinner48.svg"/>
  </div>
</app-overlay>

<app-loader></app-loader>

<app-alert></app-alert>

<p>
  API URL: {{url}}
  <br>
  <a [routerLink]="['/']">Home</a>
  <a (click)="auth()">Test</a>
</p>
<p *ngIf="!currentUser">
  <a [routerLink]="['/login']">Login</a>
  <a [routerLink]="['/register']">Register</a>
</p>
<p *ngIf="currentUser">
  <a>{{currentUser.email}}</a>
  <a (click)="logout()">Logout</a>
</p>

<div class="container">
  <router-outlet></router-outlet>
</div>
