<app-overlay>
  <div class="overlay">
    <h4>Loading...</h4>
    <img src="/assets/spinner48.svg"/>
  </div>
</app-overlay>

<app-loader></app-loader>

<div class="app-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button [routerLink]="['/']">Putnčka mapa</button>
      <button mat-button [routerLink]="['/countries']">Države</button>
      <button mat-button [routerLink]="['/recommendations']">Zanimljivosti</button>
      <button *ngIf="currentUser && currentUser.type === 'admin'" mat-button [routerLink]="['/users']">Korisnici</button>
      <span class="toolbar-spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu_map">Filteri</button>
      <mat-menu #menu_map="matMenu">
        <button mat-menu-item>Mapa država</button>
        <button mat-menu-item>Mapa zanimljivosti</button>
        <button mat-menu-item>Mapa viza</button>
        <button mat-menu-item>Mapa temperatura</button>
      </mat-menu>
      <mat-icon *ngIf="currentUser" class="toolbar-icon">language</mat-icon>
      <mat-icon *ngIf="currentUser" class="toolbar-icon">grade</mat-icon>
      <button mat-button [matMenuTriggerFor]="menu_account">Nalog</button>
      <mat-menu #menu_account="matMenu">
        <button *ngIf="!currentUser" mat-menu-item [routerLink]="['/login']">Uloguj se</button>
        <button *ngIf="!currentUser" mat-menu-item [routerLink]="['/register']">Registruj se</button>
        <button *ngIf="currentUser" mat-menu-item>{{currentUser.email}}</button>
        <button *ngIf="currentUser" mat-menu-item>Izmeni nalog</button>
        <button *ngIf="currentUser" mat-menu-item (click)="logout()">Izloguj se</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <button type="button" mat-button (click)="alertService.clearMessage()">
    <app-alert></app-alert>
  </button>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

  <mat-toolbar>
    <mat-toolbar-row>
      <span>Putnčka mapa <small>2017.</small></span>
      <span class="toolbar-spacer"></span>
      <!--<button mat-button>API URL: {{url}}</button>-->
      <a href="http://mrvelibor.com" target="_blank"><button mat-button>Velibor Bačujkov 2493</button></a>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
