<app-overlay>
  <div class="overlay">
    <h4>Loading...</h4>
    <img src="/assets/spinner48.svg"/>
  </div>
</app-overlay>

<app-loader></app-loader>

<div class="app-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-raised-button color="accent" [routerLink]="['/']"> <mat-icon>map</mat-icon> Putnčka mapa </button>
      <button mat-button [routerLink]="['/countries']"> Države </button>
      <button mat-button [routerLink]="['/recommendations']"> Zanimljivosti </button>
      <button *ngIf="currentUser" mat-button [routerLink]="['/trips']"> Putovanja </button>
      <button *ngIf="currentUser && currentUser.type === 'admin'" mat-button [routerLink]="['/users']"> Korisnici </button>
      <span class="toolbar-spacer"></span>
      <button *ngIf="currentUser && currentUrl === '/'" mat-button [matMenuTriggerFor]="menuMap"> <mat-icon>add_location</mat-icon> Dodaj zanimljivost </button>
      <button *ngIf="currentUrl === '/'" mat-button [matMenuTriggerFor]="menuMap"> <mat-icon>layers</mat-icon> Filteri </button>
      <mat-menu #menuMap="matMenu">
        <button mat-menu-item (click)="setMapType('countries')">Mapa država</button>
        <button mat-menu-item (click)="setMapType('recommendations')">Mapa zanimljivosti</button>
        <button mat-menu-item (click)="setMapType('visas')">Mapa viza</button>
        <button *ngIf="currentUser" mat-menu-item (click)="setMapType('trips')">Mapa putovanja</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menuAccount"> <mat-icon>account_circle</mat-icon> {{currentUser ? currentUser.firstName + ' ' + currentUser.lastName[0] : 'Nalog'}}</button>
      <mat-menu #menuAccount="matMenu">
        <button *ngIf="!currentUser" mat-menu-item [routerLink]="['/login']">Uloguj se</button>
        <button *ngIf="!currentUser" mat-menu-item [routerLink]="['/register']">Registruj se</button>
        <button *ngIf="currentUser" mat-menu-item>{{currentUser.email}}</button>
        <button *ngIf="currentUser" mat-menu-item>Izmeni nalog</button>
        <button *ngIf="currentUser" mat-menu-item (click)="logout()">Izloguj se</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <button type="button" mat-button (click)="alertService.clearMessage()">
    <app-alert></app-alert>
  </button>

  <div class="app-content">
    <mat-progress-spinner *ngIf="!countries || countries.length === 0"></mat-progress-spinner>
    <router-outlet *ngIf="countries && countries.length > 0"></router-outlet>
  </div>

  <mat-toolbar>
    <mat-toolbar-row>
      <span>Putnčka mapa <small>2017.</small></span>
      <span class="toolbar-spacer"></span>
      <!--<button mat-button>API URL: {{url}}</button>-->
      <a href="http://mrvelibor.com" target="_blank"><button mat-button>Velibor Bačujkov 2493</button></a>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
