:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.table-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.table-flag {
  width: 54px;
  height: 32px;
  cursor: pointer;
}

.table-link-button {
  min-width: 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-table {
  flex: 1 1 auto;
  overflow: auto;
}

.table-list {
  display: inline;
}

.table-button-cell {
  display: flex;
  flex-wrap: wrap;
}

.table-button {
  min-width: 0;
}

.column-flag {
  flex: 0 0 64px;
}

.column-options {
  flex: 0 0 96px;
}

.column-very-small {
  flex: 0 1 64px;
}

.column-small {
  flex: 0 1 96px;
}

.column-normal {
  flex: 1 1 96px;
}

.column-large {
  flex: 2 1 96px;
}
