<div class="table-container mat-elevation-z8">
  <div class="table-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraži">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="viewUser(element)">
        {{element.id}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ime </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="viewUser(element)">
        {{element.firstName}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Prezime </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="viewUser(element)">
        {{element.lastName}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Imejl </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="viewUser(element)">
        {{element.email}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Pol </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.gender}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="birthday">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Rođendan </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.birthday}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Država </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="viewCountry(element.country)">
        <img *ngIf="element.country" matTooltip="{{element.country.serbianName}}" matTooltipPosition="right" src="{{apiUrl}}{{element.country.flagUrl}}" height="32px" width="54px">
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="_options">
      <mat-header-cell *matHeaderCellDef> Opcije </mat-header-cell>
      <mat-cell *matCellDef="let element" class="table-button-cell">
        <button mat-button class="table-button" (click)="editUser(element)" matTooltip="Izmeni" matTooltipPosition="left" matTooltipShowDelay="500"> <mat-icon>edit</mat-icon> </button>
        <button mat-button class="table-button" (click)="deleteUser(element)" matTooltip="Obriši" matTooltipPosition="left" matTooltipShowDelay="500"> <mat-icon>delete</mat-icon> </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="50"></mat-paginator>
</div>
