:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

#map {
  flex: 1 1 auto;
}

.app-sidenav-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1 1 auto;
}

.app-sidenav {
  width: 320px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1 1 auto;
}
